<template>
  <v-row align="center" no-gutters dense class="fill-height fluid background-full pa-0">
    <v-row class="align-center fond">
    <v-col align="center">
      <div
        :style="$vuetify.breakpoint.smAndDown ? 'font-size: 40px' : 'font-size: 130px'"
        class="white--text font-weight-black"
      >...frontend/test
      </div>
      <div :class="`${ $vuetify.breakpoint.smAndDown ? 'headline' : 'display-3' } white--text mt-3`">Globalwork</div>
      <div class="text-center mt-8">
        <v-btn
          :width="$vuetify.breakpoint.smAndDown ? 160 : 200"
          class="ma-2 subtitle-1 depressed purple--text white text-capitalize font-weight-regular"
          :x-large="$vuetify.breakpoint.smAndDown ? false : true"
          to="/candidates">
          <v-icon color="purple darken-4">mdi-account-badge</v-icon>
          List of candidates
        </v-btn>
        <v-btn
         :width="$vuetify.breakpoint.smAndDown ? 160 : 200"
          class="ma-2 subtitle-1 purple--text white text-capitalize font-weight-regular"
          style="border: 1px solid #66BB6A"
          :x-large="$vuetify.breakpoint.smAndDown ? false : true"
          outlined
          to="/exercises"
        >
          <v-icon color="purple darken-4">mdi-variable-box</v-icon>
          List of Exercises
        </v-btn>
      </div>
    </v-col>
  </v-row>
  </v-row>
</template>
<script>
export default {
  data () {
    return {
    }
  }
}
</script>
<style>
  .background-full{
    font-family: Roboto !important;
    font-display: swap;
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.fond {
  position: relative;
  z-index: 5;
  height: 100%;
  width: 100%;
}
.fond::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('https://www.blindacre.com/wp-content/uploads/2018/10/subtle-bg-1024x652.png') center center;
    opacity: .9;
}
</style>
