<template>
  <v-row cols="12">
    <v-footer
      v-show="!$route.meta.footer"
      dark
      padless
      width="100%"
    >
      <v-card
        flat
        tile
        width="100%"
        :class="$route.meta.ex? 'transparent text-center' : 'background-full white--text text-center'"
      >
      <v-divider></v-divider>
        <v-card-text class="pb-0">
          <v-btn
            class=" white--text"
            icon
            alt="behance"
            href="https://www.behance.net/ysaserranodd87"
            target="_blank"
          >
            <v-icon size="24px">mdi-behance</v-icon>
          </v-btn>
          <v-btn
            class=" white--text"
            icon
            alt="linkedin"
            href="https://www.linkedin.com/in/ysabel-serrano-338896a5/"
            target="_blank"
          >
            <v-icon size="24px">mdi-linkedin</v-icon>
          </v-btn>
          <v-btn
            class=" white--text"
            icon
            alt="Gitlab"
            href="https://gitlab.com/ysaserranoh"
            target="_blank"
          >
            <v-icon size="24px">mdi-gitlab</v-icon>
          </v-btn>
          <v-btn
            class=" white--text"
            icon
            alt="Portfolio"
            href="https://cv-ysabel-serrano.herokuapp.com/"
            target="_blank"
          >
            <v-icon size="24px">mdi-briefcase-search</v-icon>
          </v-btn>
        </v-card-text>
        <v-card-text class="white--text pt-2">
          {{ new Date().getFullYear() }} — <strong>Ysabel Serrano</strong> | ysaserranoh@gmail.com
        </v-card-text>
      </v-card>
    </v-footer>
  </v-row>
</template>
