<template>
  <div>
    <!-- Desktop -->
    <v-app-bar
      :color="$route.meta.ex ? 'secondary' : 'primary'"
      v-show="!$route.meta.toolbar"
      flat
      dark
      height="55"
      class="hidden-sm-and-down"
    >
      <v-toolbar-title>GlobalWork</v-toolbar-title>

      <v-divider class="mx-4" vertical></v-divider>

      <v-btn text to="/" class="mr-2  font-weight-regular">
        <v-icon>mdi-home</v-icon>
        Home
      </v-btn>

      <v-btn text to="/candidates" class="mr-4 font-weight-regular">
        <v-icon>mdi-account-badge</v-icon>
        List of candidates
      </v-btn>

      <v-btn text to="/exercises" class="mr-12 font-weight-regular">
        <v-icon>mdi-variable-box</v-icon>
        List of Exercises
      </v-btn>
    </v-app-bar>

   <!-- Mobile -->
   <div class="hidden-md-and-up">
    <v-toolbar color="primary" flat dark>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-divider class="mx-4" vertical></v-divider>
      GlobalWork
    </v-toolbar>
    <v-navigation-drawer
      persistent
      v-model="drawer"
      clipped
      fixed
      width="200"
      disable-resize-watcher
    >
      <v-row class="pl-8 py-4 primary white--text" >GlobalWork</v-row>

      <v-list dense>
        <template v-for="(item, index) in items">
          <v-divider
            v-if="item.divider"
            :key="index"
            :inset="item.inset"
          ></v-divider>

          <v-list-item
            v-else
            :key="item.title"
            :to="item.src"
          >
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
  </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
      drawer: false,
      items: [
        { title: 'Home', icon: 'mdi-home', src: '/' },
        { divider: true, inset: true },
        { title: 'Lists candidates', icon: 'mdi-account-badge', src: '/candidates' },
        { divider: true, inset: true },
        { title: 'Lists Exercises', icon: 'mdi-variable-box', src: '/exercises' }
      ]
    }
  }
}
</script>
