<template>
  <v-col sm="7" class="mx-auto">
    <div v-if="!status.loading">
      <div class="text-center py-8">
        <h1> List of Candidates </h1>
      </div>
      <v-row no-gutters>
       <v-col
          v-for="(candidate, index) in candidates"
          :key="index"
          class="py-5 mx-auto"
        >
           <v-hover
            v-slot:default="{ hover }"
            close-delay="200"
          >
            <v-card
             :elevation="hover ? 16 : 2"
              max-width="375"
              class="mx-auto"
            >
              <v-img
                src="http://www.hdfondos.eu/pictures/2014/0828/1/lavender-plants-wallpaper-1408.jpg"
                height="300px"
                dark
              >
                <v-row class="fill-height text-center">
                  <v-btn dark icon class="my-5 ml-6" :to="`/details/${candidate.id}`">
                    <v-icon color="secondary">mdi-pencil</v-icon>
                  </v-btn>

                  <v-btn dark icon class="my-5 ml-3" @click="deleteItem(candidate)">
                    <v-icon color="secondary">mdi-delete</v-icon>
                  </v-btn>
                  <v-col sm="12" class="mt-12">
                   <v-btn text class="display-1 white--text mt-9" :to="`/details/${candidate.id}`">
                      {{ candidate.name }} {{ candidate.last_name }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-img>

              <v-list two-line>
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="indigo">mdi-phone</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>{{ candidate.phone }}</v-list-item-title>
                    <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="indigo">mdi-map-marker</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>{{ candidate.address }}</v-list-item-title>
                    <v-list-item-subtitle>Address</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </div>
    <v-col cols="12" v-if="status.loading" align="center" class="pt-5 mx-auto">
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </v-col>
  </v-col>
</template>

<script>
import axios from 'axios'
export default {
  data: () => ({
    candidates: [],
    candidate: {},
    image: [ 'http://www.hdfondos.eu/pictures/2014/0828/1/lavender-plants-wallpaper-1408.jpg', 'http://4.bp.blogspot.com/-3Z8u8JBhUWU/UHrfF4XUBII/AAAAAAAAB6I/F7BDXI1DoHk/s1600/planta+mojada+con+peque%C3%B1as+gotitas+de+agua.jpg' ],
    status: {
      loading: false,
      error: false,
      message: ''
    }
  }),

  created () {
    this.initialize()
  },

  methods: {
    // Dialog box with a specified message before delete a candidate
    deleteItem (candidate) {
      if ((candidate.laboral_references || []).length > 0) {
        if (confirm(`This candidate has ${candidate.laboral_references.length} laboral references. Are you sure you want to delete this reference?`)) {
          this.remove(candidate.id)
        }
      } else {
        this.remove(candidate.id)
      }
    },

    // Function initilize array of candidates
    async initialize () {
      this.status.loading = true
      this.status.error = false
      this.status.message = ''
      try {
        const result = await axios.get('http://localhost:8081/api/candidates')
        this.candidates = result.data.candidates
        this.status.loading = false
        this.status.error = false
      } catch (error) {
        let message = ''
        if (error.response) {
          message = error.response.data.message
        } else if (error.request) {
          message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
        } else {
          message = error.message
        }
        this.status.loading = false
        this.status.error = true
        this.status.message = message
      }
    },

    // Function for get of the ID a candidate
    async getCandidate (id) {
      this.status.loading = true
      this.status.error = false
      this.status.message = ''
      try {
        const result = await axios.get(`http://localhost:8081/api/candidates/${id}`)
        this.candidate = result.data.candidate
        this.status.loading = false
        this.status.error = false
      } catch (error) {
        let message = ''
        if (error.response) {
          message = error.response.data.message
        } else if (error.request) {
          message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
        } else {
          message = error.message
        }
        this.status.loading = false
        this.status.error = true
        this.status.message = message
      }
    },

    // Function for delete a candidate
    async remove (id) {
      this.status.loading = true
      this.status.error = false
      this.status.message = ''
      try {
        await axios.post(`http://localhost:8081/api/candidates/remove/${id}`)
        this.status.loading = false
        this.status.error = false
        this.initialize()
      } catch (error) {
        let message = ''
        if (error.response) {
          message = error.response.data.message
        } else if (error.request) {
          message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
        } else {
          message = error.message
        }
        this.status.loading = false
        this.status.error = true
        this.status.message = message
      }
    }
  }
}
</script>
