<template>
  <v-col cols="12" sm="7" class="mx-auto">
    <div>
      <v-row justify="center" dense class="mx-0 my-10">
        <v-col class="mx-auto">
          <!-- Card for shows the information of a candidate -->
           <v-card class="pb-5">
              <v-card-title
                class="grey lighten-4 py-4 pl-4 title"
              >
                Candidate information
              </v-card-title>
              <v-form ref="form" v-model="valid">
                <v-container>
                  <v-row justify="center" class="px-3">
                    <v-col cols="12">
                      <v-row>
                        <v-col cols="12" sm="6">
                          <v-row dense>
                            <v-avatar size="50px" class="mr-2 hidden-md-and-down">
                              <img
                                src="//ssl.gstatic.com/s2/oz/images/sge/grey_silhouette.png"
                              >
                            </v-avatar>
                            <v-text-field
                              ref="name"
                              v-model="candidate.name"
                              :rules="nameRules"
                              @blur="blurValidate('name')"
                              :hide-details="validation.name"
                              :prepend-icon="$vuetify.breakpoint.smAndDown ? 'mdi-account-circle' : ''"
                              label="Name"
                              required
                            ></v-text-field>
                          </v-row>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-text-field
                            ref="last_name"
                            v-model="candidate.last_name"
                            :rules="nameRules"
                            @blur="blurValidate('last_name')"
                            :hide-details="validation.last_name"
                            :prepend-icon="$vuetify.breakpoint.smAndDown ? 'mdi-account-circle' : ''"
                            label="Last Name"
                            required
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-text-field
                        label="ID"
                        class="mt-5"
                        disabled
                        readonly
                        prepend-icon="mdi-account-card-details"
                        v-model="candidate.id"
                      ></v-text-field>
                      <v-text-field
                        ref="phone"
                        v-model="candidate.phone"
                        :rules="requiredRules"
                        @blur="blurValidate('phone')"
                        :hide-details="validation.phone"
                        label="Phone"
                        type="tel"
                        v-mask="'(###)###-####'"
                        prepend-icon="mdi-phone"
                        outline
                      ></v-text-field>
                      <v-text-field
                        ref="address"
                        class="mt-6"
                        v-model="candidate.address"
                        :rules="addressRules"
                        @blur="blurValidate('address')"
                        :hide-details="validation.address"
                        label="Address"
                        prepend-icon="mdi-map-marker"
                        required
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-form>
              <div class="px-9">
                <v-row>
                  <v-spacer></v-spacer>
                  <v-alert
                    dense
                    text
                    v-if="status.information.message"
                    value="true"
                    class="mr-6"
                    :type="status.information.error ? 'error' : 'success'"
                  >
                    {{status.information.message}}
                  </v-alert>
                  <v-btn @click.native="$emit('close')">Cancel</v-btn>
                  <v-btn color="primary" class="ml-4" :disabled="status.information.loading" :loading="status.information.loading" @click.native="save">Save</v-btn>
                </v-row>
              </div>
            </v-card>
            <!--Laboral References CRUD dev  using vuetify tables-->
            <v-card class="mt-12">
              <v-data-table
                :headers="headers"
                :items="candidate.laboral_references"
                :loading="status.laboralReferences.loading"
                no-data-text="There are no references yet."
                :search="search"
                hide-default-footer
              >
              <template v-slot:top>
                <v-toolbar flat color="grey lighten-4" :class="$vuetify.breakpoint.smAndDown ? '' : 'mb-6 align-center'">
                  <v-toolbar-title class="font-weight-medium">Laboral references</v-toolbar-title>
                  <v-divider
                    class="mx-4"
                    inset
                    vertical
                  ></v-divider>
                  <v-card-title>
                    <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      :loading="status.laboralReferences.loading"
                      label="Search"
                      class="mr-2 hidden-md-and-down"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-card-title>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="500px">
                    <v-card>
                      <v-card-title
                        class="grey lighten-4 py-4 pl-4 title"
                      >
                        {{ formTitle }}
                      </v-card-title>
                      <v-card-text>
                        <v-form ref="formReferences" v-model="valid">
                          <v-container>
                            <v-row>
                              <v-col cols="12" sm="6">
                                <v-text-field
                                  ref="company_name"
                                  :rules="nameRules"
                                  @blur="blurValidate('company_name')"
                                  :hide-details="validation.company_name"
                                  prepend-icon="mdi-store"
                                  v-model="editedItem.company_name"
                                  label="Company name"
                                  required
                                >
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6">
                                <v-text-field
                                  ref="contact_name"
                                  :rules="requiredRules"
                                  @blur="blurValidate('contact_name')"
                                  :hide-details="validation.contact_name"
                                  prepend-icon="mdi-phone"
                                  v-model="editedItem.contact_name"
                                  label="Contact name"
                                  type="tel"
                                  v-mask="'(###)###-####'"
                                  required
                                >
                                </v-text-field>
                              </v-col>
                            </v-row>
                            <v-row>
                              <v-col cols="12" sm="6">
                                <v-text-field
                                  ref="start_at"
                                  :rules="requiredRules"
                                  @blur="blurValidate('start_at')"
                                  :hide-details="validation.start_at"
                                  prepend-icon="mdi-calendar-range"
                                  v-model="editedItem.start_at"
                                  label="Start at"
                                  type="date"
                                  required
                                >
                                </v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6">
                                <v-text-field
                                  ref="leave_at"
                                  :rules="addressRules"
                                  @blur="blurValidate('leave_at')"
                                  :hide-details="validation.leave_at"
                                  prepend-icon="mdi-calendar-range"
                                  v-model="editedItem.leave_at"
                                  label="Leave at"
                                  type="date"
                                  required
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-form>
                      </v-card-text>
                      <div class="px-6">
                        <v-col>
                          <v-row>
                          <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="update">{{ editedItem.id ? 'Update' : 'Save' }}</v-btn>
                          </v-row>
                          <v-alert
                            dense
                            text
                            v-if="status.laboralReferences.message"
                            value="true"
                            class="mt-6"
                            :type="status.laboralReferences.error ? 'error' : 'success'"
                          >
                            {{status.laboralReferences.message}}
                          </v-alert>
                        </v-col>
                      </div>
                    </v-card>
                    <template v-slot:activator="{ on }">
                      <v-btn color="secondary" fab small dark class="title" v-on="on">
                        <v-icon>mdi-plus</v-icon>
                      </v-btn>
                    </template>
                  </v-dialog>
                </v-toolbar>
               <v-card-title>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  :loading="status.laboralReferences.loading"
                  label="Search"
                  class="hidden-md-and-up"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>
              </template>
              <template v-slot:item.action="{ item }">
                <v-icon
                  small
                  class="mr-2"
                  color="primary"
                  @click="editItem(item)"
                >
                 mdi-pencil
                </v-icon>
                <v-icon
                  small
                  color="primary"
                  @click="deleteItem(item.id)"
                >
                  mdi-delete
                </v-icon>
              </template>
              <v-alert slot="no-results" dark :value="true" color="error" icon="mdi-alert">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
            <div>
            </div>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-col>
</template>
<script>
import axios from 'axios'
import { mask } from 'vue-the-mask'
export default {
  directives: { mask },
  data: () => ({
    valid: false,
    candidate: {
      id: '',
      name: '',
      last_name: '',
      phone: '',
      address: '',
      laboral_references: []
    },
    search: '',
    mask: '####-####-####-####',
    dialog: false,
    drawer: false,
    headers: [
      { text: 'ID', value: 'id' },
      { text: 'Company', value: 'company_name' },
      { text: 'Contact', value: 'contact_name' },
      { text: 'Start', value: 'start_at' },
      { text: 'Leave', value: 'leave_at' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    editedItem: {
      id: '',
      company_name: '',
      contact_name: '',
      start_at: '',
      leave_at: ''
    },
    status: {
      information: {
        loading: false,
        error: false,
        message: ''
      },
      laboralReferences: {
        loading: false,
        error: false,
        message: ''
      }
    },
    validation: {
      name: true,
      last_name: true,
      phone: true,
      address: true,
      company_name: true,
      contact_name: true,
      start_at: true,
      leave_at: true
    },
    // validation rules
    nameRules: [
      (v) => !!v || 'Required',
      (v) => (v && v.length >= 3 && v.length <= 60) || 'Must have between 3 and 6 characters.'
    ],
    requiredRules: [
      (v) => !!v || 'Required'
    ],
    addressRules: [
      (v) => !!v || 'This field is required',
      (v) => !!(v && v.length <= 25) || 'Address must be less than 25 characters'
    ]
  }),

  computed: {
    // Function that return for to show of the title in the  toolbar Laboral References
    formTitle () {
      return this.editedItem.id ? 'Edit laboral reference' : 'Add new laboral reference'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  // Function for initialize getCandidate
  created () {
    this.getCandidate(this.$route.params.id)
  },

  methods: {
    /* Function to pass the reference defined in the forms to the specific function to validate the fields by taking the rules defined in the data and passing it to the validate () function of vuetify */
    blurValidate (ref) {
      console.log(ref)
      this.validation[ref] = this.$refs[ref].validate()
    },

    // Function Get Candidate
    async getCandidate (id) {
      this.status.information.loading = true
      this.status.information.error = false
      this.status.information.message = ''
      try {
        const result = await axios.get(`http://localhost:8081/api/candidates/${id}`)
        this.candidate = result.data.candidate
        this.status.information.loading = false
        this.status.information.error = false
      } catch (error) {
        let message = ''
        if (error.response) {
          message = error.response.data.message
        } else if (error.request) {
          message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
        } else {
          message = error.message
        }
        this.status.information.loading = false
        this.status.information.error = true
        this.status.information.message = message
      }
    },

    // Function for get index of candidate
    editItem (item) {
      this.editedItem = item
      this.dialog = true
    },

    // dialog box with a specified message for delete a reference
    deleteItem (id) {
      if (confirm('Are you sure you want to delete this reference?')) {
        this.remove(id)
      }
    },

    // Fuction close dialog laboral references
    close () {
      this.editedItem = {
        company_name: '',
        contact_name: '',
        start_at: '',
        leave_at: ''
      }
      this.status.laboralReferences.error = false
      this.status.laboralReferences.message = ''
      this.dialog = false
    },

    // Function for update and save laboral references
    async update () {
      ['company_name', 'contact_name', 'start_at', 'leave_at'].forEach(item => {
        this.blurValidate(item)
      })
      if (this.$refs.formReferences.validate()) {
        this.status.laboralReferences.loading = true
        this.status.laboralReferences.error = false
        this.status.laboralReferences.message = ''
        try {
          const result = await axios.post('http://localhost:8081/api/candidates/laboral_references', { id: this.candidate.id, laboral_reference: this.editedItem })
          this.status.laboralReferences.loading = false
          this.status.laboralReferences.error = false
          this.status.laboralReferences.message = result.data.message
          this.getCandidate(this.$route.params.id)
        } catch (error) {
          let message = ''
          if (error.response) {
            message = error.response.data.message
          } else if (error.request) {
            message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
          } else {
            message = error.message
          }
          this.status.loading = false
          this.status.error = true
          this.status.message = message
        }
      } else {
        this.status.loading = false
        this.status.error = true
        this.status.message = 'Please fill the required information'
        this.status.show = true
      }
    },

    // Function for update the information of candidates
    async save () {
      ['name', 'last_name', 'phone', 'address'].forEach(item => {
        this.blurValidate(item)
      })
      if (this.$refs.form.validate()) {
        this.status.information.loading = true
        this.status.information.error = false
        this.status.information.message = ''
        try {
          const result = await axios.post('http://localhost:8081/api/candidates/update', { candidate: this.candidate })
          this.getCandidate(this.$route.params.id)
          this.status.information.loading = false
          this.status.information.error = false
          this.status.information.message = result.data.message
        } catch (error) {
          let message = ''
          if (error.response) {
            message = error.response.data.message
          } else if (error.request) {
            message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
          } else {
            message = error.message
          }
          this.status.information.loading = false
          this.status.information.error = true
          this.status.information.message = message
        }
      } else {
        this.status.information.loading = false
        this.status.information.error = true
        this.status.information.message = 'Please fill the required information'
      }
    },

    // Function for remove the references of a candidates
    async remove (id) {
      this.status.laboralReferences.loading = true
      this.status.laboralReferences.error = false
      this.status.laboralReferences.message = ''
      try {
        await axios.post('http://localhost:8081/api/candidates/laboral_references/remove', { id: this.candidate.id, laboralReferenceId: id })
        this.status.laboralReferences.loading = false
        this.status.laboralReferences.error = false
        this.close()
        this.getCandidate(this.$route.params.id)
      } catch (error) {
        let message = ''
        if (error.response) {
          message = error.response.data.message
        } else if (error.request) {
          message = 'No response received from the server. If the problem persists contact the site administrator (' + error.message + ')'
        } else {
          message = error.message
        }
        this.status.laboralReferences.loading = false
        this.status.laboralReferences.error = true
        this.status.laboralReferences.message = message
      }
    }
  }
}
</script>
