<template>
  <v-row justify="center" class="mx-0">
    <v-col cols="12" sm="8" md="6" justify-self="center" class="">
      <div class="text-center" :class="$vuetify.breakpoint.smAndDown ? 'caption' :'headline my-12'">
        <h1> List of Exercises</h1>
      </div>
      <v-row no-gutters dense :class="$vuetify.breakpoint.smAndDown ? 'mt-6' : 'mt-12'" justify="center">
        <v-col
          v-for="(exercise, index) in exercises"
          :key="index"
        >
          <v-row align="center" justify="center">
            <div class="flip">
              <!-- Front -->
              <v-card
                :max-width="$vuetify.breakpoint.smAndDown ? 300 : 344"
                height="475" class="mx-auto mb-8 front">
                <v-list-item>
                <v-list-item-avatar color="grey">{{ exercise.id }}</v-list-item-avatar>
                <v-list-item-content>
                <v-list-item-title :class="$vuetify.breakpoint.smAndDown ? 'title' :'headline'">{{ exercise.title }}</v-list-item-title>
                <v-list-item-subtitle>by Ysabel Serrano</v-list-item-subtitle>
                </v-list-item-content>
                </v-list-item>

                <v-img
                  :src="exercise.img"
                  height="194"
                  class="mt-4"
                ></v-img>

                <v-card-text style="height:150px">
                {{ exercise.problem }}
                </v-card-text>
                <div class="text-center blue-grey lighten-5">
                  <v-btn text class="mt-1 grey--text caption text-capitalize">
                    <v-icon color="grey">mdi-mouse</v-icon>
                      hover to see the result
                  </v-btn>
                </div>
              </v-card>
              <!-- Back -->
              <v-card :max-width="$vuetify.breakpoint.smAndDown ? 300 : 344" height="475" class="mx-auto back">
                <v-list-item>
                <v-list-item-avatar color="grey">{{ exercise.id }}</v-list-item-avatar>
                <v-list-item-content>
                <v-list-item-title :class="$vuetify.breakpoint.smAndDown ? 'title' :'headline'">{{ exercise.title }}</v-list-item-title>
                <v-list-item-subtitle>by Ysabel Serrano</v-list-item-subtitle>
                </v-list-item-content>
                </v-list-item>

                <div class="text-center mt-8 mb-6">
                  <v-btn
                    :loading="dialog"
                    class="white--text"
                    color="secondary"
                    :disabled="exercise.result !== 0"
                    @click="exercise.id === 1 ? palindromic() : pythagorean()"
                  >
                    {{ exercise.result !== 0 ? 'Already loaded' : 'Start loading' }}
                  </v-btn>
                  <v-card
                    v-if="dialog"
                    flat
                    class="mx-auto mt-12"
                  >
                    <v-card-text class="mt-12">
                      Please wait, we are processing many numbers
                      <v-progress-linear
                        indeterminate
                        color="blue"
                        class="mt-4"
                      ></v-progress-linear>
                    </v-card-text>
                  </v-card>
                </div>

                <v-card-text class="body-1 grey--text text-none">
                  <div style="height:40px; text-align: center">{{ exercise.msg }}</div>
                  <div v-show="exercise.result != 0" class="mt-12 text-center display-3 font-weight-black">{{ exercise.result }}</div>
                </v-card-text>
              </v-card>
            </div>
          </v-row>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    product: 0,
    max: 0,
    dialog: false,
    visited: false,
    show2: false,
    palindromos: [],
    exercises: [
      {
        id: 1, type: 'palindromic', title: 'Palindromic number', img: 'https://c.tadst.com/gfx/750x500/palindrome-bob.png?2', problem: 'A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99. Find the largest palindrome made from the product of two 3-digit numbers', msg: '', result: 0
      },
      {
        id: 2, type: 'pythagorean', title: 'Pythagorean triplet', img: 'https://i0.wp.com/www.mathbootcamps.com/wp-content/uploads/the-pythagorean-formula.png?w=560&ssl=1', problem: ' A Pythagorean triplet is a set of three natural numbers, a < b < c. There exists exactly one Pythagorean triplet for which a + b + c = 1000. Find the product abc.', msg: '', result: 0
      }
    ]
  }),

  created () {
    // this.palindromic()
    // this.pythagorean()
  },

  // watch: {
  //   dialog (val) {
  //     if (!val) return
  //     setTimeout(() => (this.dialog = false), 1000)
  //   }
  // },

  methods: {
    callPalindromic () {
      // Two numbers of 3 digits (min 100 and max 999)
      for (let j = 100; j <= 999; j++) {
        for (let i = 100; i <= 999; i++) {
          this.product = j * i // Get of the product of j * i
          const aux = parseInt(this.product.toString().split('').reverse().join('')) // Get the reverse of the product
          if (this.product === aux) { // Compare if the result of "product" is equal of the result of "aux", then if is equal is palindromo save in the void  array
            this.palindromos.push(aux) // Compare if the result of "product" is equal of the result of "aux", then if is equal is palindromo, saved in the array (this.palindromos)
          }
        }
      }
      this.max = Math.max.apply(null, this.palindromos)// Get max number the array
      this.exercises[0].result = this.max
      console.log('generado', this.max)
      this.exercises[0].msg = 'The largest palindrome made from the product of two 3-digit numbers is:'
      this.dialog = false
      this.visited = true
    },

    palindromic () {
      this.dialog = true
      setTimeout(() => { this.callPalindromic() }, 1000)
    },

    pythagorean () {
      this.dialog = true
      setTimeout(() => { this.callPythagorean() }, 1000)
    },

    callPythagorean () {
      // Formula Pythagorean triplet a^2 + b^2 = c^2
      for (let a = 1; a <= 1000; a++) {
        for (let b = a; b < 1000; b++) {
          for (let c = 1; c < 1000; c++) {
            let total = Math.pow(c, 2) // Get value of "c" squared
            let add = Math.pow(a, 2) + Math.pow(b, 2) // Get value of "a" squared + "b" squared
            if (add === total) { // If the result of (a ^ 2) is equal to the result of (a ^ 2 + b ^ 2), it is Pythagorean triplet
              if (((a + b + c) === 1000)) { // If the sum of (a + b + c) is equal to 1000, calculate the product (abc)
                let product = a * b * c
                this.exercises[1].result = product
                this.exercises[1].msg = 'The product abc es:'
                this.dialog = false
                this.visited = true
                break
              }
            }
          }
        }
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.flip {
    position: relative;
    >.front,
    >.back {
        display: block;
        transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
        transition-duration: .5s;
        transition-property: transform, opacity;
    }
    >.front {
        transform: rotateY(0deg);
    }
    >.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        transform: rotateY(-180deg);
    }
    &:hover {
        >.front {
            transform: rotateY(180deg);
        }
        >.back {
            opacity: 1;
            transform: rotateY(0deg);
        }
    }
}
.flip {
    position: relative;
    display: inline-block;
}
</style>
