<template>
  <v-app>
     <Toolbar/>
    <v-container fluid fill-height pa-0>
        <router-view :key="$route.path"/>
    </v-container>
    <Footer/>
  </v-app>
</template>

<script>
import Toolbar from './components/Toolbar.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'App',

  components: {
    Toolbar,
    Footer
  },

  data: () => ({
    //
  })
}
</script>
